@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0B1A32;
  --foreground: #ededed;
  --textlight: #ffffff;
  --textmedium: #aad6ec;
  --frontpage: #1A3D74;
  --bg: #0d1424;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.hover-grow {
  @apply transform transition duration-300 ease-in-out hover:scale-105;
}

.scrollbar-none {
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.emphasis {
  @apply text-textmedium font-black underline underline-offset-4;
}